<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>payHigh</key>
	<dict>
		<key>type</key>
		<string>较强险</string>
		<key>head_title</key>
		<string>座位数</string>
		<key>data</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>title</key>
				<string>6座及以下</string>
				<key>value</key>
				<string>950</string>
				<key>defaultSelected</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>title</key>
				<string>6座以上</string>
				<key>value</key>
				<string>1100</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>thirdLiability</key>
	<dict>
		<key>type</key>
		<string>第三方责任险</string>
		<key>head_title</key>
		<string>赔付金额</string>
		<key>data</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>title</key>
				<string>5W</string>
				<key>value</key>
				<string>801</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>title</key>
				<string>10W</string>
				<key>value</key>
				<string>971</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>title</key>
				<string>20W</string>
				<key>value</key>
				<string>1120</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>title</key>
				<string>50W</string>
				<key>value</key>
				<string>1293</string>
				<key>defaultSelected</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>title</key>
				<string>100W</string>
				<key>value</key>
				<string>1412</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>pirates</key>
	<dict>
		<key>type</key>
		<string>盗抢险</string>
		<key>head_title</key>
		<string>车辆价格</string>
		<key>data</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>title</key>
				<string>[0，10W)</string>
				<key>value</key>
				<string>1830</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>title</key>
				<string>[10-15W)</string>
				<key>value</key>
				<string>2565</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>title</key>
				<string>[15-20W)</string>
				<key>value</key>
				<string>3300</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>title</key>
				<string>[20-25W)</string>
				<key>value</key>
				<string>4035</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>title</key>
				<string>[25-30W)</string>
				<key>value</key>
				<string>4770</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>title</key>
				<string>[30-35W)</string>
				<key>value</key>
				<string>5505</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>title</key>
				<string>[35-40W)</string>
				<key>value</key>
				<string>6240</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>8</string>
				<key>title</key>
				<string>40W及以上</string>
				<key>value</key>
				<string>7710</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>scratchRisk</key>
	<dict>
		<key>type</key>
		<string>车身划痕险</string>
		<key>head_title</key>
		<string>赔付金额</string>
		<key>data</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>title</key>
				<string>2000</string>
				<key>value</key>
				<string>400</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>title</key>
				<string>5000</string>
				<key>value</key>
				<string>570</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>title</key>
				<string>10000</string>
				<key>value</key>
				<string>760</string>
				<key>defaultSelected</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>title</key>
				<string>20000</string>
				<key>value</key>
				<string>1140</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>brokenRisk</key>
	<dict>
		<key>type</key>
		<string>玻璃破碎险</string>
		<key>head_title</key>
		<string>车辆性质</string>
		<key>data</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>title</key>
				<string>国产</string>
				<key>value</key>
				<string>0.0015</string>
				<key>defaultSelected</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>title</key>
				<string>进口</string>
				<key>value</key>
				<string>0.0025</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>peopleLiability</key>
	<dict>
		<key>type</key>
		<string>车上人员责任险</string>
		<key>head_title</key>
		<string>座位数</string>
		<key>data</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>title</key>
				<string>2座</string>
				<key>value</key>
				<string>100</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>title</key>
				<string>3座</string>
				<key>value</key>
				<string>150</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>title</key>
				<string>4座</string>
				<key>value</key>
				<string>200</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>title</key>
				<string>5座</string>
				<key>value</key>
				<string>250</string>
				<key>defaultSelected</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>title</key>
				<string>6座</string>
				<key>value</key>
				<string>300</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>title</key>
				<string>7座</string>
				<key>value</key>
				<string>350</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>title</key>
				<string>8座</string>
				<key>value</key>
				<string>400</string>
				<key>defaultSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
